@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/*GENERAL*/
* {
  margin: 0;
  padding: 0; }

html body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  html body h1 {
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px; }

/*HEADER*/
@keyframes parpadeo {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.header {
  width: 100%;
  height: 10%;
  background-color: #a6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 2px 11px 18px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 2px 11px 18px 0px rgba(0, 0, 0, 0.46);
  margin-bottom: 1em; }

.header__logo {
  display: block;
  margin: auto;
  width: 45vh;
  margin-top: 1vh;
  margin-bottom: 1vh; }

.header__nav {
  display: block;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 100; }
  .header__nav ul {
    margin: 2vh;
    list-style: none; }
    .header__nav ul li {
      display: inline-block;
      text-decoration: none;
      padding: 3px;
      line-height: 30px;
      transition: width 2s; }
      .header__nav ul li a {
        text-decoration: none;
        color: #143b52; }

.header__nav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.8s; }

.header__nav a:hover:after {
  width: 100%;
  background: #333; }

.header__nav a:hover {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.select {
  font-weight: bold; }

.menuHamburguesa {
  display: flex;
  flex-direction: column; }
  .menuHamburguesa li {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100; }

.selectResponsive {
  border-bottom: 2px solid; }

.header__nav {
  display: none; }

a {
  text-decoration: none;
  color: #143b52; }

@media (min-width: 830px) {
  .header {
    flex-direction: row; }
  .header__logo {
    justify-self: start;
    width: 20vh;
    margin: 1vh 0 1vh 1vh; }
  .header__nav {
    display: block;
    align-self: center;
    margin-right: 0; }
  .header .container-fluid {
    display: none; } }

/*FOOTER*/
.footer {
  background-color: #a6d6d6;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding-top: 2vh;
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  -webkit-box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.53);
  box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.53); }
  .footer a {
    list-style: none; }

.footer__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  order: 3; }
  .footer__redes li {
    width: 4vh;
    height: 4vh;
    margin-right: 2vh;
    margin-left: 2vh; }

.footer__secciones {
  list-style: none;
  font-weight: lighter;
  align-self: center;
  margin-right: 2vh; }
  .footer__secciones p {
    font-size: medium;
    font-weight: bold; }

.footer__contacto {
  align-self: center; }
  .footer__contacto .footer__contacto--titulo {
    font-size: medium;
    font-weight: bold; }

.facebookIcon {
  background-image: url(../img/facebook.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.instagramIcon {
  background-image: url(../img/instagram.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.emailIcon {
  background-image: url(../img/email.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.githubIcon {
  background-image: url(../img/github.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.behanceIcon {
  background-image: url(../img/behance.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

@media (min-width: 630px) {
  .footer__redes li {
    width: 5vh;
    height: 5vh; } }

@media (min-width: 830px) {
  .footer {
    background-color: #a6d6d6;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }
    .footer a {
      list-style: none; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    order: 2; }
    .footer__redes li {
      width: 7vh;
      height: 7vh;
      margin-right: 2vh;
      margin-left: 2vh; }
  .footer__secciones {
    list-style: none;
    font-weight: lighter; }
    .footer__secciones p {
      font-size: medium;
      font-weight: bold; }
  .footer__contacto .footer__contacto--titulo {
    font-size: medium;
    font-weight: bold; } }

/*INDEX*/
.contenidoIndex {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, auto); }
  .contenidoIndex h2 {
    text-align: center;
    margin: 15px 10px 15px 10px; }

.sobreMi {
  margin: 0 10px 0 10px;
  text-align: center; }

.carousel-item {
  transition: transform 2s ease-in-out;
  height: 60vh; }

@media (min-width: 830px) {
  .contenidoIndex {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    gap: 5px 5px; }
  h2 {
    align-self: center; } }

/*CONOCIMIENTOS*/
.contenido__conocimientos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 10px;
  justify-items: center;
  list-style: none;
  margin-top: 3%; }

.contenido__conocimientos li {
  height: 70vh;
  width: 100%;
  box-shadow: 4px 4px 15px 8px rgba(0, 0, 0, 0.54);
  border-radius: 15px;
  text-align: center;
  margin-right: 4vh;
  background-color: #a6d6d6; }
  .contenido__conocimientos li h3 {
    font-size: 3em; }
  .contenido__conocimientos li img {
    width: 100%;
    height: 75%; }
  .contenido__conocimientos li meter {
    width: 80%;
    position: relative;
    display: none; }
  .contenido__conocimientos li h4 {
    display: none;
    padding-bottom: 3px; }

.html5:hover {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear; }
  .html5:hover img {
    width: 90%; }
  .html5:hover h3 {
    font-size: large; }
  .html5:hover h4 {
    display: block; }
  .html5:hover meter {
    display: inline; }

.css3:hover {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear; }
  .css3:hover img {
    width: 90%; }
  .css3:hover h3 {
    font-size: large; }
  .css3:hover h4 {
    display: block; }
  .css3:hover meter {
    display: inline; }

.javascript:hover {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear; }
  .javascript:hover img {
    width: 90%; }
  .javascript:hover h3 {
    font-size: large; }
  .javascript:hover h4 {
    display: block; }
  .javascript:hover meter {
    display: inline; }

.reactJs:hover {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear; }
  .reactJs:hover img {
    width: 90%; }
  .reactJs:hover h3 {
    font-size: large; }
  .reactJs:hover h4 {
    display: block; }
  .reactJs:hover meter {
    display: inline; }

.python:hover {
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear; }
  .python:hover img {
    width: 90%; }
  .python:hover h3 {
    font-size: large; }
  .python:hover h4 {
    display: block; }
  .python:hover meter {
    display: inline; }

@media (min-width: 600px) {
  .contenido__conocimientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    justify-items: center;
    list-style: none; }
    .contenido__conocimientos li {
      height: 100%;
      width: 100%; }
      .contenido__conocimientos li h3 {
        font-size: 3em; } }

@media (min-width: 830px) {
  .contenido__conocimientos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 5vh;
    margin-right: 5vh; }
    .contenido__conocimientos li {
      height: 50vh;
      width: 35vh; }
      .contenido__conocimientos li h3 {
        font-size: 100%; }
      .contenido__conocimientos li img {
        padding: 0; }
      .contenido__conocimientos li meter {
        top: 0; }
      .contenido__conocimientos li h4 {
        font-size: small; } }

/*PROYECTOS*/
.contenido__proyectos {
  display: grid;
  margin: 10px auto;
  width: 98%;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto); }
  .contenido__proyectos img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    border-radius: 5px; }
  .contenido__proyectos img:hover {
    filter: brightness(100%);
    z-index: 10; }

@media (min-width: 830px) {
  .contenido__proyectos {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 3px; }
    .contenido__proyectos img {
      transition: transform 0.2s;
      object-fit: cover; }
    .contenido__proyectos img:hover {
      transform: scale(1.2);
      object-fit: contain; } }

@media (min-width: 1200px) {
  .contenido__proyectos {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    margin: auto;
    margin-bottom: 65px; }
    .contenido__proyectos img {
      transition: transform 0.2s;
      object-fit: cover; }
    .contenido__proyectos img:hover {
      transform: scale(1.3);
      object-fit: contain; } }

/*EXPERIENCIA*/
.contenido__cv iframe {
  display: block;
  margin: auto;
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 2px 11px 18px 0px rgba(0, 0, 0, 0.46); }

@media (min-width: 830px) {
  .contenido__cv iframe {
    display: block;
    margin: auto;
    width: 135vh;
    height: 140vh;
    border-radius: 20px;
    box-shadow: 2px 11px 18px 0px rgba(0, 0, 0, 0.46); } }

/*CONTACTO*/
.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 70px auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative; }
  .form h1 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    font-size: 2em; }
  .form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2; }
  .form input:focus {
    border-bottom: 2px solid #78788c; }
  .form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a; }
  .form button {
    position: absolute;
    left: 250px;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background-color: #e6e6e6;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 3; }
  .form button:hover {
    background: #a6d6d6;
    color: #000; }
  .form div {
    position: absolute;
    bottom: -30px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
    z-index: 2; }
  .form span {
    margin: 0 5px 0 15px; }
