@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  text-shadow: 3px 1px 6px #969696; }

html body {
  background-color: #ededd0; }

/*HEADER*/
.header {
  width: 100%;
  height: 30%;
  background-color: #a6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.header__logo {
  display: block;
  margin: auto;
  width: 30vh; }

.header__nav {
  display: block;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 13px; }
  .header__nav ul {
    margin: 2vh;
    list-style: none; }
    .header__nav ul li {
      display: inline-block;
      text-decoration: none;
      padding: 3px;
      line-height: 30px; }
      .header__nav ul li a {
        text-decoration: none;
        color: #143b52; }

.header__nav li:hover {
  background-image: linear-gradient(to top, #73bfbf 0%, #a6d6d6 100%);
  transform: rotate(4deg); }

.select {
  background-image: linear-gradient(to top, #73bfbf 0%, #a6d6d6 100%);
  transform: rotate(4deg); }

.selectResponsive {
  border-bottom: 1px solid #143b52; }

.header__nav {
  display: none; }

.btn-secondary:hover {
  background-color: #143b52; }

a {
  text-decoration: none;
  color: #143b52; }

.menuHamburguesa li {
  list-style: none;
  font-family: 'Poppins', sans-serif; }

@media (min-width: 830px) {
  .header {
    flex-direction: row; }
  .header__logo {
    justify-self: start;
    width: 15vh; }
  .header__nav {
    display: block;
    align-self: center; }
  .header .container-fluid {
    display: none; } }

/*FOOTER*/
.footer {
  background-color: #a6d6d6;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-bottom: 0; }
  .footer a {
    list-style: none; }

.footer__flexBox {
  display: flex;
  justify-content: space-around; }

.facebookIcon {
  background-image: url(../img/facebook.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.instagramIcon {
  background-image: url(../img/instagram.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.emailIcon {
  background-image: url(../img/email.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.githubIcon {
  background-image: url(../img/github.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

.behanceIcon {
  background-image: url(../img/behance.svg);
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  background-size: 100%; }

/*GRID*/
h1 {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif; }

/*INDEX*/
.contenidoIndex {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, auto); }
  .contenidoIndex h2 {
    text-align: center;
    border: 4px double #a6d6d6;
    border-radius: 37px 40px 0px 40px;
    margin: 15px 10px 15px 10px; }

.sobreMi {
  margin: 0 10px 0 10px;
  border-bottom: 4px double #a6d6d6;
  border-radius: 40px 40px 40px 10px; }

.carousel-item {
  transition: transform 2s ease-in-out; }

/*CONOCIMIENTOS*/
.contenido__conocimientos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 7px;
  justify-items: center;
  list-style: none;
  margin-top: 3%; }

.contenido__conocimientos li {
  height: 70vh;
  width: 100%;
  border: #a6d6d6 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 18px 7px #A6D6D6;
  text-align: center;
  margin-right: 4vh;
  background-color: #e7e7c9; }
  .contenido__conocimientos li img {
    padding: 20px 0 20px 0;
    width: 100%;
    height: 80%; }
  .contenido__conocimientos li h3 {
    font-size: 3em; }

/*PROYECTOS*/
.contenido__proyectos {
  display: grid;
  margin: 10px auto;
  width: 98%;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto); }
  .contenido__proyectos img {
    width: 100%;
    height: 100%; }

/*CONTACTO*/
.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  position: relative; }
  .form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c; }
  .form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2; }
  .form input:focus {
    border-bottom: 2px solid #78788c; }
  .form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a; }
  .form button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat',sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    z-index: 10000000; }
  .form button:hover {
    background: #a6d6d6;
    color: #000; }
  .form div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000; }
  .form span {
    margin: 0 5px 0 15px; }

.contenido__flexForm {
  display: flex;
  justify-content: center; }

/*EXPERIENCIA*/
.contenedorExp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  justify-content: center; }

.tab__titulo {
  width: 100%;
  height: 25vh;
  background-color: #a6d6d6;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.tab__texto {
  width: 100%;
  height: 100%;
  background-color: #a58faa;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  .tab__texto li {
    list-style: none; }

@media (min-width: 600px) {
  .contenido__conocimientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 7px;
    justify-items: center;
    list-style: none; }
    .contenido__conocimientos li {
      height: 20vh;
      width: 20vh; }
      .contenido__conocimientos li h3 {
        font-size: medium; }
  .contenidoExp__tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 5px;
    width: 100vh;
    justify-content: center;
    width: 100%; }
  .tab__titulo {
    width: 100%;
    height: 25vh;
    background-color: #a6d6d6;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .tab__texto {
    width: 100%;
    height: 100%;
    background-color: #a58faa;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .tab__texto li {
      list-style: none; } }

@media (min-width: 830px) {
  .contenidoIndex {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    gap: 5px 5px; }
  h2 {
    align-self: center; }
  .contenido__conocimientos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 5vh;
    margin-right: 5vh; }
    .contenido__conocimientos li {
      height: 20vh;
      width: 18vh; }
      .contenido__conocimientos li img {
        padding: 5px 0 5px 0; }
      .contenido__conocimientos li h3 {
        font-size: small; }
  .contenido__proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 3px; }
    .contenido__proyectos img {
      transition: transform .2s; }
    .contenido__proyectos img:hover {
      transform: scale(1.5); }
  .contenedorExp {
    display: flex;
    justify-content: space-around; }
  .contenidoExp__tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 5px;
    width: 100vh;
    justify-content: center; }
  .tab__titulo {
    width: 30vh;
    height: 18vh;
    background-color: #a6d6d6;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .tab__texto {
    width: 100%;
    height: 100%;
    background-color: #a58faa;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .tab__texto li {
      list-style: none; } }

@media (min-width: 1200px) {
  .contenido__proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 3px; } }
