/*EXPERIENCIA*/
.contenedorExp{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr;
	justify-content: center;
	
	
}	
.tab__titulo{
			  width: 100%;
			  height: 25vh;
			  background-color:$celeste;
			  text-align: center;
			  border-top-left-radius: 20px;
			  border-bottom-right-radius: 20px;
			  
}
.tab__texto{
		width: 100%;
		height: 100%;
		background-color:$morado;
		text-align: center;
		  border-top-left-radius: 20px;
		 border-bottom-right-radius: 20px;
		li{
			list-style: none;
		}
}

@media (min-width: 600px){


	.contenidoExp__tab{
		display: grid;
		  grid-template-columns: 1fr 1fr;
		  grid-template-rows: 1.3fr 0.7fr;
		  gap: 0px 5px;
		  width: 100vh;
		  justify-content: center;
		  width: 100%;
	
	}	
	.tab__titulo{
		width: 100%;
		height: 25vh;
		background-color:$celeste;
		text-align: center;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
				  
	}
	.tab__texto{
			width: 100%;
			height: 100%;
			background-color:$morado;
			text-align: center;
			  border-top-left-radius: 20px;
			 border-bottom-right-radius: 20px;
			li{
				list-style: none;
			}
	}
	
	
}

