/*FOOTER*/

.footer{
	background-color: $celeste;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-bottom: 0;
	a{
		list-style: none;
		text-decoration: none;
	}
}
.footer__flexBox{
	display: flex;
	justify-content: space-around;
}
