/*HEADER*/
$beish:#ededd0;
$azulOsc:#143b52;
$celeste:#a6d6d6;
$morado:#a58faa;


@keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

.header{
	 width: 100%;
   	 height: 10%;
   	 background-color:$celeste;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 -webkit-box-shadow: 2px 11px 18px 0px rgba(0,0,0,0.46); 
	 box-shadow: 2px 11px 18px 0px rgba(0,0,0,0.46);
	margin-bottom: 1em;
	 
}

.header__logo{
	display: block;
  	margin: auto;
  	width: 45vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.header__nav{
		display: block;
  		margin: auto;
		font-family: 'Poppins', sans-serif;
		font-weight: 100;
		ul{
			margin:2vh;
			list-style: none;
			li{
				display: inline-block;
				text-decoration: none;
				padding: 3px;
				line-height: 30px;
				transition: width 2s;
				
				
				
				a{
					text-decoration: none;
					color:$azulOsc;
				}
			}
		}
}

.header__nav a:after {
	content: "";
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	transition: all .8s;
	}
.header__nav a:hover:after {
	width: 100%;
	background: #333;
	}
.header__nav a:hover{
	animation-name: parpadeo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}



.select{
	font-weight: bold;
}

.menuHamburguesa{
	display: flex;
	flex-direction: column;
		li{
		list-style: none;
		font-family: 'Poppins', sans-serif;
		font-weight: 100;
	
	
}
}
.selectResponsive{
	border-bottom: 2px solid;
}


.header__nav{
	display: none;
}



a{
	text-decoration: none;
	color:$azulOsc;
}





@media (min-width: 830px){

	.header{
		flex-direction: row;
	}
	.header__logo{
		justify-self:start;
		width: 20vh;
		margin:1vh 0 1vh 1vh;
	}
	.header__nav{
		display: block;
		align-self: center;
		margin-right: 0;

	}
	.header {
		.container-fluid{
			display: none;
		}
	}



}

