/*INDEX*/
$beish: #ededd0;
$azulOsc: #143b52;
$celeste: #a6d6d6;
$morado: #a58faa;



.contenidoIndex {
	display: grid;
	grid-row-gap: 30px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto, auto);
	h2 {
		text-align: center;
		margin: 15px 10px 15px 10px;
	}
}

.sobreMi {
	margin: 0 10px 0 10px;
	text-align: center;
}

.carousel-item {
	transition: transform 2s ease-in-out;
	height: 60vh;
}

@media (min-width: 830px) {
	.contenidoIndex {
		display: grid;
		grid-template-columns: 20% 80%;
		grid-template-rows: 1fr;
		gap: 5px 5px;
	}
	h2 {
		align-self: center;
	}
}
