/*INDEX*/
$beish: #ededd0;
$azulOsc: #143b52;
$celeste: #a6d6d6;
$morado: #a58faa;



.contenidoIndex {
	display: grid;
	grid-row-gap: 30px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto, auto);
	h2 {
		text-align: center;
		margin: 15px 10px 15px 10px;
		font-family: 'Josefin Sans', sans-serif;
		border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  		box-shadow: 20px 20px rgba(0,0,0,.15);
  		transition: all .4s ease;
		background-color: #cde0e0;
	}
	h2:hover{
		border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
		box-shadow: 10px 10px rgba(0,0,0,.25);
	}
}

.sobreMi {
	margin: 0 25px 0 10px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  	box-shadow: 20px 20px rgba(0,0,0,.15);
  	transition: all .4s ease;
	background-color: #cde0e0;
}
.sobreMi:hover{
		border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
		box-shadow: 10px 10px rgba(0,0,0,.25);
}

.carousel-item {
	transition: transform 2s ease-in-out;
	height: 40vh;
}

@media (min-width: 530px) {
	.carousel-item{
		height: 60vh;
	}
}

@media (min-width: 830px) {
	.contenidoIndex {
		display: grid;
		grid-template-columns: 20% 80%;
		grid-template-rows: 1fr;
		gap: 5px 5px;
	}
	h2 {
		align-self: center;
	}
	.sobreMi{
		margin-left: 7px;
	}
	.carousel-item{
		height: 70vh;
	}
}
